<div class="pagination">
    <button class="pagination-button previous-page" type="submit" id="prev">
        <img src="/src/images/arrow-right.png" alt="previous">
    </button>
    <button class="pagination-button first-page" type="submit">...</button>

    <!-- Pagination buttons will be dynamically generated here -->

    <div id="current"></div>
    <button class="pagination-button last-page" type="submit">...</button>
    <button class="pagination-button next-page" type="submit" id="next">
       <img src="/src/images/arrow-left.png" alt="next">
    </button>
</div>